@model MyFavorite.Models.ResponseDetailsSerie
@{
    ViewData["Title"] = "Details";
}
<style>
    #footer {
        position: static;
    }
</style>

<div class="row">
    <div class="col-4 pt-4">
        <img src="https://image.tmdb.org/t/p/w500/@Model.poster_path" class="img-fluid" style="border-radius:5px;" />
    </div>

    <div class="col-8">
        <div class="border p-3 mt-4 row">
            <div class="col-12 pb-2">
                <h2 class="text-primary">
                    Detalhes  da Série
                </h2>
                <hr />
            </div>

            <div class="text-primary">
                <h4>@Model.original_name</h4>
                <div class="text-secondary"> Data do primeiro  Episodio:</div>
                <p> @Model.last_air_date </p>
                <div class="text-secondary"> Data do último  Episodio: </div>
                <p> @Model.first_air_date</p>
                <div class="text-secondary"> Quantidade de Episodios:</div>
                <p> @Model.number_of_episodes </p>
                <div class="text-secondary">Quantidade de Temporadas: </div>
                <p>  @Model.number_of_seasons </p>


                <div class="text-secondary"> País de origem:</div>
                @for (int i = 0; i < @Model.production_countries!.Count; i++)
                {
                    <p>@Model.production_countries[i].name</p>
                }



                <div class="text-secondary"> Produtoras:</div>
                @for (int i = 0; i < @Model.production_companies!.Count; i++)
                {
                    <p>@Model.production_companies[i].name</p>
                }
                @if (User.Claims.Any())
                {
                    <a class="w-100 btn btn-lg btn-primary" asp-controller="Series" asp-action="PressedFavoritesButton" asp-route-id="@Model.id">@Html.Raw(TempData["buttonMessage"])</a>
                    <p>@Html.Raw(TempData["sucesso"])</p>
                }
               
            </div>
        </div>
    </div>
</div>
